@charset "utf-8";
/* CSS Document */
/*==========================================*/
/*ベースの設定
/*==========================================*/
html {
  font-size: 62.5%;
}

body {
  /*bodyの設定*/
  font-size: 1.6rem;
  letter-spacing: 0.8em;
  color: #171717;
  font-family: "Sawarabi Mincho", "PT Serif", serif, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  /*imgの共通設定*/
  width: 100%;
  vertical-align: bottom; /*隙間をなくす*/
}

a {
  text-decoration: none;
  display: inline-block;
}

li {
  list-style: none;
}

#wrapper{
  overflow: hidden;
}

/*==========================================*/
/*buttonの設定
/*==========================================*/

.button{
	width: 200px;
	margin: 30px auto 0;
}

.button-inner{
	color: #554236;
	border-color: #554236;
	background: transparent;
	text-align: center;
 	text-decoration: none;
 	font-weight: bold;
	font-size: 1.6rem;
	border-width: 1px;
	border-style: solid;
	width: 200px;
	height: 35px;
	display: inline-block;
	position: relative;
	margin: 1.6rem;
	padding: 1rem 1rem;
	transition: all 0.3s ease-in-out;
 }

.button-inner::before,
.button-inner::after{
	content: '';
	display: block;
	position: absolute;
	border-color: #554236;
	box-sizing: border-box;
	border-style: solid;
	width: 1rem;
	height: 1rem;
	transition: all 0.3s ease-in-out
}

.button-inner::before{
	top: -6px;
	left: -6px;
	border-width: 1px 0 0 1px;
	z-index: 50;
	border-color: #554236;
}

.button-inner::after{
	bottom: -6px;
	right: -6px;
	border-width: 0 1px 1px 0;
	border-color: #554236;
}

.button-inner:hover::before,
.button-inner:hover::after{ /*マウスオーバー時の設定*/
	width: calc(100% + 12px);
 	height: calc(100% + 12px);
 	border-color: #fff;
 }

.button-inner:hover{  /*マウスオーバー時の設定*/
	color: #fff;
	background-color: #554236;
	border-color: #554236;
}

.button-inner:hover::before,
.button-inner:hover::after{ /*マウスオーバー時の設定*/
	border-color: #554236;
}

/*==========================================*/
/*ハンバーガーメニューの設定
/*==========================================*/

.gnavi{
	margin-top: auto;
	margin-left: auto;
}

.menu-gnavi{
    position: fixed;
    top: 0;
    right: -300px;
    width: 300px;
    height: 100%;
    padding-top: 50px;
    background: rgba(33,33,33,.9);
    font-size: 1.6rem;
    box-sizing: border-box;
    z-index: 200;
}

.menu-gnavi-inner{
    padding: 20px 28px;
}

.bar-menu-gnavi a{
    text-decoration: none;
    color: #ddd;
}

.bar-gnavi{
    position: fixed;
    top: 20px;
    right: 30px;
    width: 30px;
    height: 24px;
    z-index: 300;
    box-sizing: border-box;
    cursor: pointer;
    -webkit-transition: all 400ms;
    transition: all 400ms;
}

.bar-gnavi-inner{
    position: absolute;
    width: 30px;
    height: 4px;
    background: #666;
    border-radius: 10px;
    -webkit-transition: all 400ms;
    transition: all 400ms;
}

.bar-gnavi-inner:nth-child(1) {
    top: 0;
}

.bar-gnavi-inner:nth-child(2) {
    top: 10px;
}

.bar-gnavi-inner:nth-child(3) {
    top: 20px;
}

.bar-gnavi.open {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.open .bar-gnavi-inner{
    background: #fff;
}

.open .bar-gnavi-inner:nth-child(1) {
    width: 24px;
    -webkit-transform: translate(-7px,17px) rotate(45deg);
    transform: translate(-7px,17px) rotate(45deg);
}

.open .bar-gnavi-inner:nth-child(3) {
    width: 24px;
    -webkit-transform: translate(-7px,-17px) rotate(-45deg);
    transform: translate(-7px,-17px) rotate(-45deg);
}

.menu-gnavi-inner a::after{
	content: '';
	display: block;
	width: 0;
	margin: 0 auto;
	border-bottom: 2px solid #666;
	padding-bottom: 3px;
	transition: width 0.6s ease-in-out;
}

.menu-gnavi-inner a:hover::after{
	width: 80%;
}

/*==========================================*/
/*headerの設定
/*==========================================*/
.header {
  width: 100%;
  position: absolute; /*要素分のスペース確保の為*/
}

.logo{ /*ロゴのコーティング*/
	position: fixed;
	padding: 25px 0 0 20px;
	z-index: 100;
	margin: 0;
  font-size: 1.6rem;
}

.logo a {
  line-height: 40px;
  font-size: 2.5rem;
  color: #fff;
  font-weight: bold;
}

.nav-item {
  background-color: #1d293f;
  width: 200px;
  height: 40px;
  padding: 0;
  margin: 0;
}

.nav-item:nth-child(1) {
  border-right: 1px solid #3b3333;
}

.nav-item a {
  color: #fff;
  font-size: 1.4rem;
  display: block;
  text-align: center;
  letter-spacing: 5px;
  line-height: 40px;
}

.nav-item a:hover {
  /*hover時、色を#F8E725に変更*/
  color: #f8e725;
}

.header-inner {
  padding-left: 4vw;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  z-index: 100;
}

.nav-list {
  width: 400px;
  display: flex;
  justify-content: space-between;
}

.burger-menu {
  display: none;
}

.header-clone {
  /*header-cloneクラスによるスティッキーヘッダの作成*/
  width: 100%;
  background-color: #1d293f;
  position: fixed;
  top: -40px;
  z-index: 100;
  opacity: 0.9;
  transition: top 0.4s;
}

.header-clone:hover {
  /*hover時、背景色の変更*/
  opacity: 1;
}

.header-clone.visible {
  top: 0;
}

.header-clone .logo {
  width: 400px;
  height: 40px;
  letter-spacing: 4px;
}

.header-clone .logo a {
  color: #f8e725; /*色の変更*/
  transition: color 0.3s;
}

.header-clone > .header-inner {
  padding-left: 4vw;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  z-index: 100;
}

.header-clone .nav-item a:hover {
  color: #f8e725; /*色の変更*/
}

/*==========================================*/
/*fvの設定
/*==========================================*/

.fv-wrapper {
  position: relative;
  top: -20px;
  overflow: hidden;
  width: 100vw;
  height: 280px;
  z-index: -1;
}

.fv-wrapper img {
  width: 100vw;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  filter: sepia(60%); /*写真をセピア色に変更*/
}

.main-text {
  position: absolute;
  top: 100px;
  left: 100px;
  color: #fff;
}

.main-copy {
  font-size: 3.5rem;
  line-height: 1.2;
  letter-spacing: 1px;
  color: rgb(243, 232, 232);
}

/*==========================================*/
/*contactフォームの設定
/*==========================================*/
.contact-wrapper {
  padding: 120px 0;
  margin: 0 auto;
}

.contact-inner {
  max-width: 1200px;
  padding: 0 30px;
  margin: 0 auto;
}

.contact-inner p {
  margin-bottom: 50px;
  letter-spacing: 1px;
}

input,
textarea {
  /*初期化*/
  resize: none;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  border: none;
  width: 100%;
}

.form-item {
  margin-bottom: 40px;
}

.requiry-type-list {
  display: flex; /*ラジオボタンを横並びに設定*/
  align-items: center;
}

.inquiry-type-item {
  margin-right: 50px;
}

.radio-btn{
  width: 20px;
  height: 20px;
  border: solid 1px #333;
  border-radius: 50%;
  vertical-align: -4px; /*高さを調整*/
}

.radio-btn:checked{
  background-color:#1d293f;
  border: solid 4px #fff;
  box-shadow: 0 0 0 1px #333;
}

.radio-btn:hover{
  cursor: pointer;
}

.text-box{
  border: solid 1px #333;
  color: #333;
  padding: 10px; /*入力フォームの内部余白を指定*/
  width: 100%;
  display: block;
}

.required{
  display: inline-block;
  background-color: #1d293f;
  text-align: center;
  color: #fff;
  font-size: 1.4rem;
  padding: 4px 9px;
  letter-spacing: 5px;
  border-radius: 10px;
}

.form-item-title{
  font-weight: bold;
  margin-bottom: 15px;
  font-size: 1.6rem;
  letter-spacing: 5px;
}

.privacy-policy-title{
  font-weight: bold;
  margin-bottom: 10px;
}

.privacy-policy-detail{
  padding: 12px;
  height: 250px;
  border: solid 1px #333;
  overflow: scroll;
  margin-bottom: 40px;
}

.textarea{
  border: solid 1px #333;
  color: #333;
  padding: 10px; /*入力フォームの内部余白を指定*/
  width: 100%;
  display: block;
}

/*==========================================*/
/*footerの設定
/*==========================================*/

.footer{
	background: url(../images/black.jpg) left top repeat;/*フッターの背景色の設定*/
	width: 100%;
	height: 200px; /*高さ設定*/
}

.footer-column{ /*住所位置の設定*/
	float: left;
	width: 100%;
	margin: 0 20px;
	padding: 30px 0;
}

.footer-title{ /*footerタイトルの詳細設定*/
	font-size: 2.5rem; 
	width: 400px;
	color: #fff;
	text-align: left;
  padding: 0;
  margin-bottom: 10px;
}

.footer-sub{ /*footersubタイトルの詳細設定*/
	padding-top: 5px;
  padding-bottom: 5px;
	font-size: 1.5rem;
	color: #E83015;
  width: 20%;
  letter-spacing: 0.4rem;
}

.footer-address{
	width: 400px;
}

.footer-address ul{ /*footer住所の設定*/
	list-style: none;
	width: 400px; 
  text-align: left;
  letter-spacing: 0.2rem;
}

.footer-address ul li{
	font-size: 1.2rem;
	color: #fff;
  line-height: 1.2; /*住所の行間設定*/
}

.footer-address li:nth-child(3){ 
	color: #E83015; /*英語の色設定*/
	margin-top: 10px;
	width: 300px;
  border-top: 1px solid #554236; /*線の追記*/
}

/*==========================================*/
/*レスポンスの設定 max-width: 736px;(iPhone6,7,8Plus 横向き)
/*==========================================*/
@media screen and (max-width: 736px) {
	.header-inner{ /*ロゴ、お問い合わせ欄、採用情報の横並びの解除*/
		width: 100vw;
		display: inline-block;
		z-index: 100;
	}
	
	.logo{ /*logoの大きさを縮小*/
		width: 300px;
		height: 30px;
		letter-spacing: 4px;
		position: fixed;
		top: 0px;
		left: 10px;
	}

	.logo a{ /*logoの大きさを縮小*/
		line-height: 30px;
		font-size: 1.5rem;
		position: fixed;
	}
	
	.header-clone .logo{ /*スティッキーヘッダーを非表示*/
		display: none;
	}

	.nav-item{ /*お問い合わせ欄、採用情報の削除*/
		display: none;
	}

	.nav-item:nth-child(1){
		border-right: 1px solid #3B3333;
  }

  .main-text{ /*main-textの位置(right)を220 ➝ 40pxに設定*/
		right: 40px;
  }
  
	.main-jp{ /*フォントサイズを2 ➝ 1.5remに設定*/
		font-size: 1.5rem;
  }
  
  .requiry-type-list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .inquiry-type-item{
    margin-bottom: 10px;
  } 
}

/*==========================================*/
/*レスポンスの設定 max-width: 414px;(iPhone6,7,8Plus 縦向き)
/*==========================================*/
  @media screen and (max-width: 736px) {
    .main-copy {
      position: absolute;
      left: -60px;
      font-size: 2rem;
		color: black;
  }
	  
	.fv-wrapper img {
  width: 100vw;
  height: auto;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  filter: sepia(60%); /*写真をセピア色に変更*/
}